@model IEnumerable<Water_Environment.Models.Users.UserPermission>

@{
    ViewBag.Title = "ManageUsers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách người dùng</h2>

<div class="text-right">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalEdit" title="Tạo tài khoản" <i class="fas fa-plus"></i> Tạo tài khoản</button>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-primary text-center" id="myTable">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tài khoản</th>
                    <th scope="col">Email</th>
                    <th scope="col">Quyền</th>
                    <th scope="col">Hoạt động</th>
                    <th scope="col">Ngày cập nhật</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.User.id</td>
                        <td>@item.User.UserName</td>
                        <td>@item.User.Email</td>
                        <td>@item.PermissionName</td>
                        <td> <input class="form-check-input" type="checkbox" checked="@item.User.IsActive" disabled></td>
                        <td>@item.User.CreatedOn</td>
                        <th>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" title="Sửa tài khoản" data-bs-target="#ModalEdit" data-user-id="@item.User.id" data-user-username="@item.User.UserName" data-user-email="@item.User.Email" data-user-permission="@item.User.UserPermission" data-user-isactive="@item.User.IsActive" data-user-createon="@item.User.CreatedOn">Sửa</button>

                                <button type="button" class="btn btn-info ms-1" onclick="ResetPassword(@item.User.id, '@item.User.UserName')">Reset mật khẩu</button>
                            </div>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="ModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModelTitle">Title </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3 d-none">
                        <label for="user-id" class="col-form-label">ID:</label>
                        <input type="text" class="form-control" id="user-id">
                    </div>
                    <div class="mb-3">
                        <label for="user-uresname" class="col-form-label">Tài khoản:</label>
                        <input type="text" class="form-control" id="user-uresname">
                    </div>
                    <div class="mb-3">
                        <label for="user-email" class="col-form-label">Email:</label>
                        <input type="email" class="form-control" id="user-email">
                    </div>
                    <div class="mb-3">
                        <label for="user-permissionename" class="col-form-label">Quyền:</label>
                        <td>
                            <select class="form-select" aria-label="Default select example" id="user-permission">
                                @foreach (var permission in ViewBag.ListPermission)
                                {
                                    <option value="@permission.id">@permission.Name</option>
                                }
                            </select>
                        </td>
                        @*<input class="form-control" id="user-permissionename"></input>*@
                    </div>
                    <div class="mb-3">
                        <label for="user-isactive" class="col-form-label">Hoạt động:</label>
                        <input class="form-control-input" type="checkbox" id="user-isactive" checked>
                    </div>
                    @*<div class="mb-3">
                            <label for="user-createon" class="col-form-label">Ngày cập nhật:</label>
                            <input class="form-control" id="user-createon"></input>
                        </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveInfo()">Lưu lại</button>
            </div>
        </div>
    </div>
</div>

<script>
    var modalEdit = document.getElementById('ModalEdit')
    modalEdit.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var titleModal = button.getAttribute('title')
        var modalIsActiveValue = modalEdit.querySelector('#user-isactive')
        var modalTitle = modalEdit.querySelector('.modal-title')
        modalTitle.textContent = titleModal
        if (titleModal == "Tạo tài khoản") {
            modalIsActiveValue.disabled = true;
        }
        else {
            var id = button.getAttribute('data-user-id')
            var username = button.getAttribute('data-user-username')
            var email = button.getAttribute('data-user-email')
            var permission = button.getAttribute('data-user-permission')
            var isactive = button.getAttribute('data-user-isactive')
            var modalIdValue = modalEdit.querySelector('#user-id')
            var modalUserNameValue = modalEdit.querySelector('#user-uresname')
            var modalEmailValue = modalEdit.querySelector('#user-email')
            var modalPermissionValue = modalEdit.querySelector('#user-permission')
            modalIdValue.value = id;
            modalUserNameValue.value = username;
            modalUserNameValue.disabled = true;
            modalEmailValue.value = email;
            modalPermissionValue.value = permission;
            modalIsActiveValue.checked = (isactive == "True");;
        }
    })

    function SaveInfo() {
        var modalTitle = document.getElementById('ModelTitle').innerHTML;
        var id = $("#user-id").val();
        var email = $("#user-email").val();
        var username = $("#user-uresname").val();
        var permission = $("#user-permission").val();
        var isactive = $("#user-isactive")[0].checked;
        if (email == '' || permission == '' || username == '') {
            alert('Vui lòng nhập đủ thông tin');
            return;
        }
        if (modalTitle == "Tạo tài khoản") {
            $.ajax({
                url: '/Admin/CreateUser',
                type: 'POST',
                dataType: 'text',
                data: {
                    UserName: username,
                    Email: email,
                    UserPermission: permission
                }
            }).done(function (result) {
                var rsJson = JSON.parse(result);
                if (rsJson.Success == true) {
                    alert(rsJson.Message);
                    window.location.reload();
                    return;
                }
                else {
                    alert(rsJson.Message);
                    return;
                }
            });
        }
        else {
            $.ajax({
                url: '/Admin/EditUser',
                type: 'POST',
                dataType: 'text',
                data: {
                    id: id,
                    Email: email,
                    UserPermission: permission,
                    IsActive: isactive
                }
            }).done(function (result) {
                var rsJson = JSON.parse(result);
                if (rsJson.Success == true) {
                    alert(rsJson.Message);
                    window.location.reload();
                    return;
                }
                else {
                    alert(rsJson.Message);
                    return;
                }
            });
        }

    }

    function ResetPassword(id, username) {
        if (!confirm("Bạn có thực sự muốn reset mật khẩu cho tài khoản " + username + " không ?")) return;
        $.ajax({
            url: '/Admin/ResetPassword/' + id,
            type: 'POST',
            dataType: 'text',
        }).done(function (result) {
            var rsJson = JSON.parse(result);
            if (rsJson.Success == true) {
                alert(rsJson.Message);
                window.location.reload();
                return;
            }
            else {
                alert(rsJson.Message);
                return;
            }
        });
    }
</script>