<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/head.css" />
    <link rel="stylesheet" href="~/Content/login.css" />

    @* -====================================== REMIXICON =========================================- *@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/Content/bootstrap-grid.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    @* auto slide show *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
    </script>

</head>
<body>
    @{
        var currentUrl = HttpContext.Current.Request.Url.AbsolutePath;
    }
    @* Body *@
    <div>
        <div>
            @* Header *@
            @if (!currentUrl.StartsWith("/Login") && !currentUrl.StartsWith("/Register"))
            {
                <div class="header">
                    <div class="head-left">
                        <div class="head-left-email">
                            <p href="mailto:info@educationpro.com">
                                <i class='bx bx-envelope bx-tada'></i> nhom12@gmail.com
                            </p>
                        </div>
                        <div class="head-left-phone">
                            <p href="tel:+9779813639131">
                                <i class='bx bxs-phone bx-tada'></i> 0818202648
                            </p>
                        </div>
                    </div>

                    @RenderPage("Page_Search.cshtml")

                    <div class="head-right">
                        <div class="login-block">
                            @if (@Session["UserLogined"]?.ToString() == "True")
                            {
                                <div style="text-align:center">
                                    <span style="color:wheat">Xin chào @Session["Username"]</span>
                                    <a href="~/Home/InfoUser">
                                        <i class='bx bx-user-circle'></i>
                                    </a>
                                    <a href="~/Login/Logout"><i class="fa-solid fa-right-from-bracket"></i> </a>
                                </div>

                            }
                            else
                            {
                                <a href="~/Login"> <i class="fa-solid fa-right-to-bracket"></i> </a>
                            }
                        </div>
                    </div>
                </div>
                Html.RenderAction("Navbar", "Home");
            }
            @RenderBody()


            @* Footer *@
            @if (!currentUrl.StartsWith("/Login") && !currentUrl.StartsWith("/Register"))
            {
                @RenderPage("Footer.cshtml")
            }
        </div>

        <!------------ Back to Top ------------------->
        @RenderPage("BackToTop.cshtml")
        @* ----------------------------------------- *@
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script>
</body>
</html>
