@model Water_Environment.Models.ActivitiesAndNew
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="container">
    @Html.Raw(Model.Content)

</div>
@if (ViewBag.lstComments != null)
{

    <section style="background-color: #eee;">
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card">
                        @if (@Session["UserLogined"]?.ToString() == "True")
                        {
                            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                <div class="d-flex flex-start w-10">
                                    <b>
                                        Chào @Session["Username"], bạn có cảm nghĩ gì về bài viết?
                                    </b>
                                </div>
                                <div class="d-flex flex-start w-90">
                                    <div class="form-outline w-100">
                                        <textarea class="form-control" id="commentContent" rows="4"
                                                  style="background: #fff;"></textarea>
                                        <label class="form-label" for="textAreaExample"></label>
                                    </div>
                                </div>
                                <div class="float-end mt-2 pt-1">
                                    <button type="button" onclick="Comment()" class="btn btn-primary btn-sm">Bình luận</button>
                                </div>
                            </div>
                        }
                        @foreach (var comment in ViewBag.lstComments)
                        {
                            <div class="card-body">
                                <div class="d-flex flex-start align-items-center">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz6QZuuPYIqG74Zo2v21Q5wqB62qeaC2sO6LnNabKfRd24sNDFvd19xkWODiXJArA3uqM&usqp=CAU" alt="avatar" width="60"
                                         height="60" />
                                    <div>
                                        <h6 class="fw-bold text-primary mb-1">@comment.userComment</h6>
                                        <p class="text-muted small mb-0">
                                            @comment.comment.CreateOn
                                        </p>
                                    </div>
                                </div>

                                <p class="mt-3 mb-4 pb-2">
                                    @comment.comment.Content
                                </p>
                            </div>
                        }



                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script>
    function Comment() {
        var commentContent = document.getElementById('commentContent').value;
        $.ajax({
            url: '/Home/Comment',
            type: 'POST',
            dataType: 'text',
            data: { 
                PostId: @Model.id,
                Content: commentContent
            }
        }).done(function (result) {
            var rsJson = JSON.parse(result);
            if (rsJson.Success == true) {
                alert(rsJson.Message);
                window.location.reload();
                return;
            }
            else {
                alert(rsJson.Message);
                return;
            }
        });
    }
</script>
