@model IEnumerable<Water_Environment.Models.ActivitiesNews.ActivitiesNewsCate>

@{
    ViewBag.Title = "ManagePermission";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách bài viết</h2>

<div class="text-right">
    <a role="button" href="/Admin/CreateActivitiesNews"><button type="button" class="btn btn-primary">Thêm Bài Viết</button></a>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped text-center" id="myTable">
            <thead>
                <tr>
                    <th scope="col">ID bài viết</th>
                    <th scope="col">Tên chủ đề bài viết</th>
                    <th scope="col">Loại bài viết</th>
                    <th scope="col">Kích hoạt</th>
                    <th scope="col">Cập nhật lần cuối</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ActivitiesAndNew.id</td>
                        <td>@item.ActivitiesAndNew.Title</td>
                        <td>@item.CategoryName</td>
                        @*<td> <input class="form-check-input" type="checkbox" checked="@item.ActivitiesAndNew.IsActive" disabled></td>*@
                        <td>@item.ActivitiesAndNew.CreateOn</td>
                        <th>
                            <div class="btn-group" role="group">
                                @*<i class="fas fa-edit"></i>*@
                                <a role="button" href="/Admin/EditActivitiesNews/@item.ActivitiesAndNew.id"><button type="button" class="btn btn-primary">Sửa</button></a>
                                <button type="button" class="btn btn-danger ms-1" onclick="DeleteActivitiesNews(@item.ActivitiesAndNew.id)">Xóa</button>
                            </div>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
        <div class="modal fade" id="ModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModelTitle">New message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3 d-none">
                                <label for="category-id" class="col-form-label">ID:</label>
                                <input type="text" class="form-control" id="category-id">
                            </div>
                            <div class="mb-3">
                                <label for="category-name" class="col-form-label">Tên loại:</label>
                                <input type="text" class="form-control" id="category-name">
                            </div>
                            <div class="mb-3">
                                <label for="category-active" class="col-form-label">Kích hoạt:</label>
                                <input class="form-control-input" type="checkbox" id="category-active" checked>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" onclick="SaveInfo()">Lưu lại</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function DeleteActivitiesNews(id) {
        if (!confirm("Bạn có thực sự muốn xóa bài viết này không?")) return;
        $.ajax({
            url: '/Admin/DeleteActivitiesNews/' + id,
            type: 'POST',
            dataType: 'text',
        }).done(function (result) {
            console.log(result, "result");
            var rsJson = JSON.parse(result);
            if (rsJson.Success == true) {
                alert(rsJson.Message);
                window.location.reload();
                return;
            }
            else {
                alert(rsJson.Message);
                return;
            }
        });
    }
</script>