@model IEnumerable<Water_Environment.Models.Users.UserPermission>

@{
    ViewBag.Title = "ManageUsers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh sách người dùng</h2>

<div class="text-right">
    <button type="button" class="btn btn-primary" onclick="CreateNewUser()"><i class="fas fa-plus"></i> Tạo người dùng</button>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-primary text-center" id="myTable">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tài khoản</th>
                    <th scope="col">Email</th>
                    <th scope="col">Quyền</th>
                    <th scope="col">Hoạt động</th>
                    <th scope="col">Ngày cập nhật</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.User.id</td>
                        <td>@item.User.UserName</td>
                        <td>@item.User.Email</td>
                        <td>@item.PermissionName</td>
                        <td> <input class="form-check-input" type="checkbox" checked="@item.User.IsActive" disabled></td>
                        <td>@item.User.CreatedOn</td>
                        <th>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" title="Sửa người dùng" data-bs-target="#ModalEdit" data-user-id="@item.User.id" data-user-uresname="@item.User.UserName" data-user-email="@item.User.UserName" data-user-permissionename="@item.PermissionName" data-user-isactive="@item.User.IsActive" data-user-createon="@item.User.CreatedOn">Sửa</button>
                                @*<button type="button" class="btn btn-danger" onclick="DeleteUser(@item.User.id)">Xóa</button>*@
                            </div>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="ModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa người dùng </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3 d-none">
                        <label for="user-id" class="col-form-label">ID:</label>
                        <input type="text" class="form-control" id="user-id">
                    </div>
                    <div class="mb-3">
                        <label for="user-uresname" class="col-form-label">Tài khoản:</label>
                        <input type="text" class="form-control" id="user-uresname">
                    </div>
                    <div class="mb-3">
                        <label for="user-email" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" id="user-email">
                    </div>
                    <div class="mb-3">
                        <label for="user-permissionename" class="col-form-label">Quyền:</label>
                        <input class="form-control" id="user-permissionename"></input>
                    </div>
                    <div class="mb-3">
                        <label for="user-isactive" class="col-form-label">Hoạt động:</label>
                        <input class="form-control" id="user-isactive"></input>
                    </div>
                    <div class="mb-3">
                        <label for="user-createon" class="col-form-label">Ngày cập nhật:</label>
                        <input class="form-control" id="user-createon"></input>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveInfo()">Lưu lại</button>
            </div>
        </div>
    </div>
</div>


@*<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa người dùng </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc rằng bạn muốn xóa tài khoản này không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Xóa</button>
            </div>
        </div>
    </div>
</div>*@


<script>
    var modalEdit = document.getElementById('ModalEdit')
    modalEdit.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var id = button.getAttribute('data-user-id')
        var uresname = button.getAttribute('data-user-uresname')
        var email = button.getAttribute('data-user-email')
        var permissionename = button.getAttribute('data-user-permissionename')
        var isactive = button.getAttribute('data-user-isactive')
        var createon = button.getAttribute('ddata-user-createon')

        var titleModal = button.getAttribute('title')
        var modalTitle = modalEdit.querySelector('.modal-title')
        var modalIdValue = modalEdit.querySelector('#user-id')
        var modalUserNameValue = modalEdit.querySelector('#user-uresname')
        var modalEmailValue = modalEdit.querySelector('#user-email')
        var modalPermissionNameValue = modalEdit.querySelector('#user-permissionename')
        var modalIsActiveValue = modalEdit.querySelector('#user-isactive')
        var modalCreatedOnValue = modalEdit.querySelector('#user-createon')
        modalTitle.textContent = titleModal
        modalIdValue.value = id;
        modalUserNameValue.value = uresname;
        modalEmailValue.value = email;
        modalPermissionNameValue.value = permissionename;
        modalIsActiveValue.value = isactive;
        modalCreatedOnValue.value = createon;
    })

    function SaveInfo() {
        var id = $("#user-id").val();
        var uresname = $("#user-uresname").val();
        var email = $("#user-email").val();
        var permissionename = $("#user-permissionename").val();
        var isactive = $("#user-isactive").val();
        var createon = $("#user-createon").val();
        if (uresname == '' || email == '' || permissionename == '' || isactive == '' || createon == '') {
            alert('Vui lòng nhập đủ thông tin');
            return;
        }

        $.ajax({
            url: '/Admin/EditUser',
            type: 'POST',
            dataType: 'text',
            data: {
                id: id,
                UserName: uresname,
                Email: email,
                PermissionName: permissionename,
                UserName: isactive,
                CreatedOn: createon
            }
        }).done(function (result) {
            console.log(result, "result");
            var rsJson = JSON.parse(result);
            if (rsJson.Success == true) {
                alert(rsJson.Message);
                window.location.reload();
                return;
            }
            else {
                alert(rsJson.Message);
                return;
            }
        });

    }
</script>